<!DOCTYPE html>
<html>

<head>
    <% include ../partials/template/head.ejs %>
</head>

<body id="<%= pageId %>">
    <!-- header and banner -->
    <!-- Header Start : code for menu -->
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand"><%= siteTitle %></a>
          </div>
          
        </div><!-- container -->
      </nav>
    </header>
<!-- Header end -->

    
        <!-- header ends -->

        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <% include ../partials/template/msg.ejs %>
                    <div class="card card-body">
                        <form method="post">
                            <legend>New Password</legend>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" required>
                            </div>
                            <input type="hidden" name="uid" value="<%=uid%>" />
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- Container ends -->
        <% include ../partials/template/footer.ejs %>

            <script src="../reload/reload.js"></script>
</body>

</html>