<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>

<body id="<%= pageId %>">
<!-- header and banner -->
    <% include partials/template/header.ejs %>
<!-- header ends -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to CAudit.</h1>
    <p class="lead">Security controls audit for your cloud infrastructure.</p>
  </div>
</div>

<!-- Container -->
  <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Control</h4>
            <div class="card-body">
              <p class="card-text">Import security controls for your public cloud enviroments from your organisational GRC framework/policies or global standards (NIST, COBIT etc.)</p>
            </div>
            <div class="card-footer">
              <a href="/controls" class="btn btn-primary">Check sample controls</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Audit</h4>
            <div class="card-body">
              <p class="card-text">Use extensible plugin based audit infrastructure enables you to assess the state of security controls in your public cloud deployments.</p>
            </div>
            <div class="card-footer">
              <a href="/audits" class="btn btn-primary">Check sample reports</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Mitigate</h4>
            <div class="card-body">
              <p class="card-text">Actionable recommendations for each risk/control issue identifed, to enable you mitigate risks in your public cloud deployments.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Check sample recommendations</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
<!-- Container ends -->
<% include partials/template/footer.ejs %>

<script src="/reload/reload.js"></script>
</body>
</html>
